<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
        
        .center{display: block; margin-left: auto; margin-right: auto; width: 95px; height: 95px}

        .body-heading {
            text-align: center;
        }

        h1, h2 {
            color: red;
        }
    </style>

</head>
<body>
    <div class="body-heading">
        <img src="http://app.high-view-studios.co.uk/HighViewStudios/templates/logo.jpg" class="center">
        <h1><strong>My STAFF</strong></h1>
        <h2><strong>Space, Times, Flexible, Facilities</strong></h2>
    </div>

    <p>Dear {{ name }} ({{ email }}),</p>
    <p>You have requested a new password through the My STAFF platform</p>

    <p>Your new password is below</p>
    <ul>
            <li>Username: please use the email you see above</li>
            <li>Password: {{ password }}</li><br />
    </ul>

    <p>If you have NOT requested a new password, please contact High-View Studios immediately on shaun.evans@high-view-studios.co.uk</p>

    <p>If you have requested this password, please go to https://my-staff.co.uk/org/{{ orgID }} to sign in with the new password</p>

    <p>The website will ask you to change it straight away!</p>

    <p>Regards,</p>

    <p><strong>High-View Studios</strong></p>

</body>
</html>