html, body, #App, #App>div {
  height: 100%
}

.App {
  text-align: center;
  background-color: #184d47;
}

body {
  background-color: #184d47;
  font-size: 1rem;
}

.rooms {
  /* text-align: left; */
  float: left;
}

.roomLbl {
  padding: 15px;
  float: left;
}

nav{
  /* justify-content: space-around; */
  /* align-items: center; */
  /* min-height: 10vh; */
  background: #96bb7c;
  color: red;
  text-align: center;
}

.height{
  height: 100vh;
}

.body {
  padding-top: 5px;
}

/* .nav-links{
  /* width: 40%;
  display: flex; */
  /* justify-content: space-around; */
  /* align-items: center; */
  /* list-style: none; 
 } */

.back-color {
  background-color: #d6efc7;
  height: 100%;
}

.user-nav {
  text-align: right;
  padding-right: 20px;
  font-size: 1.5rem;
}

.AH-AddOrganisationBtn {
  text-align: right;
}

.A-AddOrganisationText {
  font-size: 1.5rem;
}

.A-AddOrganisationTextColor {
  color: red;
  font-weight: bold;
}

.Organisations-ListBox {
  background-color: #FFBB33;
  color: white;
}

.Organisations-ListTitles {
  background-color: orange;
  color: white;
}
